/* admin overwriting */

tr.row1:hover, tr.row2:hover {
    background-color: #E8FFAF !important;
}

/* Elementos Principais */

div#footer {
    background-color: #eee;
	border-top: solid 2px #ddd;
	border-bottom: solid 1px #ddd;
    padding: 10px 0px;
    text-align: center;
    margin: 25px 0px;
}

div#footer img {
    vertical-align: middle;
}

div#footer img {
    vertical-align: middle;
}

div#footer img {
    margin: 0px 8px;
}

div#container {
	background: #fff;
}

/* Pagination */

div.options {
    margin: 10px 0px;
    background: #eee;
    padding: 5px;
    border: solid 1px #ccc;
}

.pagination {
    background: #fafafa;
    padding: 8px;
    margin: 10px 0px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.pagination .step-links a {
    background: white;
    border: solid 1px #ccc;
    padding: 2px;
}


/* Tables */

table {
	outline: solid 1px #ccc;
}

table thead th {
	white-space: nowrap;
}

table tbody td {
	border-left: 1px solid #DDDDDD;
}

thead th:first-child, tfoot td:first-child, tbody td:first-child{
	border-left:medium none !important;
}

tbody tr:last-child td {
	border-bottom: none;
}

tr.total {
    background-color: #DDD;
}

table ul {
    padding-left: 20px;
}

/* General */

.float-options {
	float: right; 
	width: 250px; 
	background: #fff;
	border: solid 2px #ccc;
	padding: 4px;
}

.float-options ul {
	margin: 3px 0px 5px 20px;
}

.float-options h3 {
	margin: 0px 0px 6px 0px;
}

div#content h1 {
    margin: 15px 0px 25px 0px;
}

p.errornote, ul.messagelist {
    margin-top: 10px !important;
}

.invalid {
    background-color: #EFB3B3 !important;
    border: solid 1px #ef8686 !important;
}

div.itens, div#itens {
    margin: 15px 5px;
    padding: 5px;
    border: solid 1px #ccc;
}

div#itens td, div.itens td {
    border: 0px;
}

div#itens hr, div.itens hr {
    border: solid 1px #ccc;
}

a.pdf {
    background: url("/media/img/pdf_icon.jpg") no-repeat;
    padding: 0px 10px;
    margin-left: 15px;
}

a.obs {
    background: url("/media/img/obs_icon.png") no-repeat;
    padding: 0px 10px;
    margin-left: 55px;
}

input[type=radio] {
    margin-left: 10px;
}

[onclick] {
    cursor: pointer
}

[onclick]:hover, a:hover {
    text-decoration: underline !important;
}

span.highlight {
    border: solid 1px #a5cc40;
    padding: 1px;
    background-color: #d9ff73 !important;
}

div#header {
    padding: 2px 0px;
}

div.title a {
    color: #333;
}

fieldset.module div fieldset.module h2 {
    background: silver url(/admin-media/img/admin/nav-bg.gif) repeat-x scroll left bottom !important;
    color: #666666;
}

p.feriado, .vermelho {
    color: #cc0000;
}

.verde {
    color: #4e9a06;
}

.negrito {
    font-weight: bold;
}

label.inline {
    margin-left:20px !important;
    display:inline !important; 
    float:none !important;
    margin-left: 16px;
}

fieldset {
	padding: 1em;
	margin: 1em;
}
fieldset div.coluna {
	float: left;
	margin: 1em 5em 0 1em
}

.highlight {
    background-color: #E8FFAF !important;
}

input[disabled] {
	color: #999 !important;	
}


h1#site-name {
	background: url("/media/img/suap.png") no-repeat left;
	height: 20px;
	margin: 2px 0px 2px 10px; 
	padding: 10px 0px 10px 40px;
}

.admin-setor-uo {

    text-decoration: underline;
}

.admin-setor {
	font-weight: bold;

}

.processo-atrasado {
	background-color: #FBB;
	padding: 2px;
    border: solid 1px #DAA;
}

.nowarp {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

div#changelist img.foto-miniatura {
    border: solid 1px #666;
}

.debug {
	background: #333 !important;
}
