/* 
 * Note all selectors begin with .tree .tree-classic
 * This is necessary - keep to this format. 
 * Just replace classic with your theme name .
 */

/* Setting the icon infront of every closed node */
.tree .tree-classic li.open {
    background:url("/media/jstree/apple/minus.gif") 2px 5px no-repeat;
}
/* Setting the icon infront of every open node */
.tree .tree-classic li.closed {
    background:url("/media/jstree/apple/plus.gif") 2px 5px no-repeat;
}
/* This should be same as above.
 * Used to "close" nested nodes while dragging */
.tree .tree-classic #dragged li.open {
    background:url("/media/jstree/apple/plus.gif") 2px 5px no-repeat;
}

/* The opened folder icon */
.tree .tree-classic li.open a {
    background-image:url("/media/jstree/apple/folderopen.gif");
}
/* The closed folder icon */
.tree .tree-classic li.closed a {
    background-image:url("/media/jstree/apple/folder.gif");
}
/* The icon used for nodes with no children */
.tree .tree-classic li.leaf a {
    background-image:url("/media/jstree/apple/folder.gif");
}
/* If you want one icon for all above three states use this selector:
 * .tree .tree-classic li a 
 * It is also useful for setting the text color */

/* The default theme has round borders in firefox. 
 * Undo that if you want */
.tree .tree-classic li a {
    -moz-border-radius:0;
}

/* The colors used on the hovered node. 
 * Here they match the background color - so no hover.
 * Note the second selector - it is applied when hover_mode is on 
 * and you use the get_* functions (mainly used for keyboard shortcuts) */
.tree .tree-classic li a:hover,
.tree .tree-classic li a.hover {
    background-color:white;
    border-color:white;
}
/* The colors for the selected state of the node */
.tree .tree-classic li a.clicked,
.tree .tree-classic li span.clicked {
    background-color:navy;
    border-color:navy;
    color:white;
}

/* What follows here are the styles for right-to-left alignment 
 * Include such styles only of you want to support RTL languages */
.rtl .tree-classic li.open {
    background-position:right 5px;
    margin-right:-3px;
    padding-right:19px;
}
.rtl .tree-classic li.closed {
    background-position:right 5px;
    margin-right:-3px;
    padding-right:19px;
}
.rtl .tree-classic #dragged li.open {
    background-position: right 5px;
}