
{# Formulário para ser usado na tag ``include`` #}

{% block head %}
    {{ form.media }}
{% endblock %}  

<form action="{{ action }}" method="{{ method|default:"POST" }}" enctype="multipart/form-data">
    <table>
        {{ form }}
        <tr class="submit-row">
            <td colspan="2">
                <input type="submit" 
                       value="{% if submit_button_label %}submit_button_label{% else %}{% if form.Meta.model %}Salvar{% else %}Submeter{% endif %}{% endif %}" />
            </td>
        </tr>
    </table>
</form>
