.right_label {
    text-align: right;
}
.negrito_label {
	font-weight: bold;
}
.msg {
	text-align:center;
	padding:3px;
	margin-top:15px;
	font-size:1.1em;
	font-weight:normal;
	color:#ba8e31;
	background-color:#fffdda;
	border:1px solid #ba8e31;
}
#id_check_mostrar_validadas {
	margin-right:3px;
}
#lbl_mostrar_validadas {
	font-size:11px;
}

#botoes_esquerda {
	width: 49%;
	text-align: left;
	float: left;
}

#botoes_direita {
	width: 50%;
	text-align: right;
	float: right;
}
