#titulo_relatorio {
	display:block;
	margin:0;
	margin-top:15px;
	font-size:1.8em;
	text-align:center;
	text-transform:uppercase;
}
.pesquisa_campus {
	text-align:right;
	padding:3px 7px 3px 3px;
	background-color:#eee;
	border:1px solid #aaa;
}
.pesquisa_campus input {
	width:20px;
	cursor:pointer;
}
.pesquisa_campus input:hover {
	border:1px solid #eee;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
}
.pesquisa_campus label {
	margin:0 8px 0 50px;
}
.pesquisa_campus select {
	min-width:300px;
}
.rel_dimensao {
	margin-top:20px;
	padding:1px 1px;
	border:1px solid #aaa;
}
.rel_dimensao .cx_tabela {
	padding:0 1px;
}
.rel_dimensao .cx_tabela table {
	margin-bottom:1px;
}
.marcador {
	display:block;
	text-align:justify;
}
.dimensao, .orgao_sistemico, .obj_estrategico, .meta, .acao, .atividade {
	padding:2px 3px;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}
.dimensao {
	font-size:1.5em;
	background-color:#194E84;
	border:1px solid #334433;
}
.orgao_sistemico {
	margin-top:3px;
	color:#000;
	font-size:1.3em;
	background-color:white;
}
.obj_estrategico {
	margin-top:15px;
	font-size:1.3em;
	background-color:#6699cc;
	border:1px solid #3c3b63;
}
.meta {
	margin-top:5px;
	color:#000;
	font-size:1.2em;
	background-color:#EAE1C0;
	border:1px solid #483A3A;
}
.acao {
	margin-top:5px;
	color:#000;
	font-size:1.2em;
	background-color:#cfe7df;
	border:1px solid #94aca4;
}
.atividade {
	margin:3px 0;
	color:#000;
	font-weight:bold;
	background-color:#eee;
	border:1px solid #aaa;
}
.justificativa, .detalhamento {
	margin-top:5px;
}
.justificativa label, .detalhamento label{
	margin:3px;
	color:#000;
	font-weight:bold;
}
.justificativa p, .detalhamento p {
	margin:0;
	margin-top:5px;
	padding:5px;
	text-align:justify;
	border:1px solid #ddd;
}
.atributos_meta, .atributos_acao, .unidades_admin {
	margin-top:7px;
}
